{port_envs, [
             {"DRV_CFLAGS", "$DRV_CFLAGS $ICU_CFLAGS"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS $ICU_LDFLAGS"}
            ]}.
{so_specs, [
            {"priv/ustring_nifs.so", ["c_src/ustring.o",
                                      "c_src/icu4e.o"]},
            {"priv/ubrk_nifs.so", ["c_src/ubrk.o",
                                   "c_src/icu4e.o"]}
           ]}.
